/* general */
:root {
    --main-color: #1E202B;

}

.main-color {
    color: var(--main-color) !important;
}

.main-color-bg {
    background-color: var(--main-color) !important;
}

/* weather screen */

.weather-screen {
    min-height: 100vh;
    background-image: url(../imgs/banner.png);
    background-position: center;
    background-repeat: no-repeat;
    /* background-size: cover; */
}

.weather-screen .form-control:focus{
    box-shadow: none;
}
.weather-screen .form-control::placeholder {
    color: #a7a7a7 !important; 
    opacity: 1; 
}