/* general */
:root {
    --main-color: #1E202B;
    --secondary-color: #262936;

}
ul {
    list-style: none;
}

a {
    color: white;
    text-decoration: none;
}

.main-color {
    color: var(--main-color) !important;
}
.secondary-color {
    color: var(--secondary-color) !important;
}

.main-color-bg {
    background-color: var(--main-color) !important;
}

.secondary-color-bg {
    background-color: var(--secondary-color) !important;
}

/* nav */
.navbar-brand h1 {
    font-size: 1rem;
}

.navbar-brand p {
    font-size: .60rem;
    color: rgb(155, 155, 155);
}

/* weather screen */

.weatherScreen {
    min-height: 50vh;
    background-image: url(../imgs/banner.png);
    background-position: center;
    background-repeat: repeat-y;
}

.weatherScreen .form-control:focus {
    box-shadow: none;
}

.weatherScreen .form-control::placeholder , footer .form-control::placeholder {
    color: #a7a7a7 !important;
    opacity: 1;
}

/* weather card */
.weather-card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    color: lightgray;
}

.weather-card .card-head {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.weather-card p {
    margin: 0;
}

.weather-card .condition {
    color: rgb(0, 191, 255);
}

.bigger-p {
    font-size: 70px;
    font-weight: 900;
    line-height: 135px;
    color: white;
}

.direction p .wind p .rain p {
    font-size: 4px !important;

}



/* contact */
.contactScreen{
    min-height: 50vh;
}

.contactScreen .title{
    min-height: 50px;
    background-color: var(--secondary-color);
    border-radius: 50px;
    font-size: 12px;
    color: lightgray;
}

::placeholder {
    color: lightgray !important;
    opacity: 1 ; /* Firefox */
  }
  
  ::-ms-input-placeholder { /* Edge 12-18 */
    color: lightgray !important;}