/* general */
:root {
    --main-color: #1E202B;
    --secondary-color: #262936;

}

.main-color {
    color: var(--main-color) !important;
}

.main-color-bg {
    background-color: var(--main-color) !important;
}

.secondary-color-bg {
    background-color: var(--secondary-color) !important;
}

/* nav */
.navbar-brand h1 {
    font-size: 1rem;
}

.navbar-brand p {
    font-size: .60rem;
    color: rgb(155, 155, 155);
}

/* weather screen */

.weather-screen {
    min-height: 100vh;
    background-image: url(../imgs/banner.png);
    background-position: center;
    background-repeat: no-repeat;
}

.weather-screen .form-control:focus {
    box-shadow: none;
}

.weather-screen .form-control::placeholder {
    color: #a7a7a7 !important;
    opacity: 1;
}

/* weather card */
.weather-card {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.04);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(3.6px);
    -webkit-backdrop-filter: blur(3.6px);
    color: lightgray;
}

.weather-card .card-head {
    /* From https://css.glass */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px 12px 0 0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.weather-card p {
    margin: 0;
}

.weather-card .condition {
    color: rgb(0, 191, 255);
}

.weather-card .temp p {
    font-size: 80px;
    font-weight: 700;
    line-height: 135px;
    color: white;
}

.direction p .wind p .rain p {
    font-size: 4px !important;

}

